* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: coral;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
}

/*Header*/
.header {
  width: 100%;
  background-color: rgb(255, 227, 194);
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
  height: 80px;
}

.title {
  margin: 0;
  color: rgb(135, 6, 129);
  font-size: 3rem;
}

.main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitle {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 20px 40px;
  text-align: center;
}

.group {
  margin: 0 auto;
  background-color: white;
  width: 80%;
  height: 300px;
  padding: 2%;
  border: 4px solid rgb(135, 6, 129);
}


.block {
  width: 20%;
  height: 96%;
  text-align: center;
  font-size: 5rem;
  padding-top: 50px;
  border: 2px solid black;
}

.block--green {
  background-color: green;
  float: left;
}

.block--blue {
  background-color: blue;
  float: right;
}


.block--orange {
  background-color: orange;
  float: left;
}

.group--pink {
  width: 50%;
  height: 98%;
  float: right;
  margin-right: 0;
}

.block--pink {
  width: 25%;
  background-color: pink;
  float: right;
  margin-left: 15px;
}

.group__left {
  width: 50%;
  height: 100%;
  float: left;
}

.group__rigth {
  width: 50%;
  height: 100%;
  float: right;
}

.block--lightblue {
  width: 25%;
  background-color: lightblue;
  float: left;
  margin-right: 15px;
}

.block--yellow {
  width: 25%;
  background-color: yellow;
  float: right;
  margin-left: 15px;
}

.group__item {
  width: 50%;
  height: 98%;
  margin: 0 auto;
}

.block--darksalmon {
  width: 48%;
  float: left;
  background-color: darksalmon;
}

.group-darkcyan {
  width: 48%;
  height: 98%;
  float: right;
}

.block--darkcyan {
  width: 100%;
  height: 48%;
  background-color: darkcyan;
  float: right;
  padding-top: 15px;
  margin-bottom: 10px;
}

.group__item--right {
  float: right;
}

.block--chartreuse {
  width: 48%;
  float: left;
  background-color: chartreuse;
}

.group-fuchsia {
  width: 48%;
  height: 98%;
  float: right;
}

.block--fuchsia {
  width: 100%;
  height: 48%;
  background-color: fuchsia;
  float: right;
  padding-top: 15px;
  margin-bottom: 10px;
}

/*Footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
  background-color: rgb(255, 227, 194);
}

.footer-item {
  color: rgb(135, 6, 129);
}